<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />

    <title>Doku - Reading Mode</title>
    <style>
        html  {
            width: 100%;
            height: 110%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }

        .nav-link:hover {
            background-color: #025cad;
        }

        .table {
            display: table;   /* Allow the centering to work */
            margin-top: 5%;
            position: fixed;
        }

        ul#horizontal-list {
            min-width: 696px;
            list-style: none;
            padding-top: 20px;
        }
        ul#horizontal-list li {
            display: inline;
        }

        #dropZone,
        #scrabble-word {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            min-height: 200px;
            margin-bottom: 20px;
        }
        .dropBox{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 250px;
            width: 250px;
            border: 1px solid #aaaaaa;
            padding: 1rem;
        }

        .letterBox{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 250px;
            width: 250px;
            border: 1px solid #aaaaaa;
            padding: 1rem;
        }

        img {
            height: 200px;
            object-fit: cover;
            width: 200px;
        }
        #submit{
            width: 25%;
            height:50px;
            font-size:12pt;
            background-color: #007bff;
            color:white
        }

        #title{
            font-size:50pt;
            margin-top:30px;
            text-align: center;
        }

        #language{
            font-size:50pt;
        }

        #meaning{
            font-size:20pt;
            text-align: center;
        }

        #partOf{
            font-size:20pt;
            text-align: center;
        }

        #hasil{
            font-size:20pt;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/"
                >Upload PDF</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/overview">Overview</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/game">Game</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/logout">Logout</a>
            </li>
            <li class="nav-item"></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div id="title">Language <span class="language" id ="language" th:text = "${languages}"></span></div>
    <div>
        <div id="meaning"></div>
        <div id="partOf"></div>
        <div id="hasil"></div>
    </div>
    <div id="dropZone">

    </div>
    <div
            id="scrabble-word"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
    >
    </div>
    <div><button type="submit" id="submit" className="btn btn-outline-primary btn-block">answer</button></div>
</div>

<script>
    let language = document.getElementById('language').innerText
    let letters = "testingo"
    let encryptedAnswer = "testingo"
    let partOfSpeech = "testingo"
    let definition = "testingo"
    let submitButton = document.getElementById('submit');
    var url = 'https://doku-game-tebakan.herokuapp.com/game-tebakan?language=' + language;
    reset()

    function reset(){
        var req = new XMLHttpRequest();
        req.open('GET', url, false)
        req.onload = function() {
            data = JSON.parse(req.responseText);
            getWord(data)
        }
        req.send();
        document.getElementById("hasil").innerHTML="";
        setup()
        inputBox()
        scrabbleBox()
    }

    submitButton.onclick = function(){
        checkAnswer()
    }
    function checkAnswer(){
        var answerbox=document.getElementsByClassName('letterBox')
        var answer = "";
        for (var i = 0; i < answerbox.length; i++) {
            answer += answerbox[i].innerHTML
        }
        var urlCheck="https://doku-game-tebakan.herokuapp.com/game-tebakan/cek?encryptedAnswer="+encryptedAnswer+"&answer="+answer;
        var req = new XMLHttpRequest();
        req.open('POST', urlCheck, false)
        req.onload = function() {
            data = JSON.parse(req.responseText);
            trueOrFalse(data);
        }
        req.send();
    }
    function trueOrFalse(answer){
        if(answer){
            var htmlElements='';
            htmlElements+='right answer';
            htmlElements+='<button onclick="reset()">play again</button> ';
            document.getElementById("hasil").innerHTML=htmlElements;
        } else {
            var htmlElements='';
            htmlElements+='wrong answer, try again';
            htmlElements+='<button onclick="reset()">change word</button> ';
            document.getElementById("hasil").innerHTML=htmlElements;
        }
    }

    function getWord(data){
        if(data.name.includes("4")){
            var req = new XMLHttpRequest();
            req.open('GET', url, false)
            req.onload = function() {
                data = JSON.parse(req.responseText);
                getWord(data)
            }
            req.send();
        } else {
            letters = data.name;
            encryptedAnswer = data.encryptedAnswer;
            partOfSpeech = data.partOfSpeech;
            definition = data.definition;
        }
    }
    function setup(){
        document.getElementById("meaning").innerHTML=definition;
        document.getElementById("partOf").innerHTML=partOfSpeech;
    }
    function inputBox(){
        var htmlElements = "";
        for (var i = 0; i < letters.length; i++) {
            htmlElements += '<div class="dropBox" id="dropBox1" onDrop="drop(event)" onDragOver="allowDrop(event)"></div>';
        }
        var container = document.getElementById("dropZone");
        container.innerHTML = htmlElements;
    }

    function scrabbleBox(){
        var htmlElements = "";
        for (var i = 0; i < letters.length; i++) {
            htmlElements += '<div class="letterBox" id="'+i+'" draggable="true" onDragStart="drag(event)">'+letters[i]+'</div>';
        }
        var container = document.getElementById("scrabble-word");
        container.innerHTML = htmlElements;
    }

    function allowDrop(event) {
        event.preventDefault();
    }
    function drag(event) {
        event.dataTransfer.setData("text", event.target.id);
    }
    function drop(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        event.target.appendChild(document.getElementById(data));
    }


</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>
