<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
  />

  <title>Doku - Reading Mode</title>
  <style>
    html  {
      width: 100%;
      height: 110%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
    }

    .nav-link:hover {
      background-color: #025cad;
    }

    .table {
      display: table;   /* Allow the centering to work */
      margin-top: 5%;
      position: fixed;
    }

    ul#horizontal-list {
      min-width: 696px;
      list-style: none;
      padding-top: 20px;
    }
    ul#horizontal-list li {
      display: inline;
    }

    .teks {
      margin-top: 6%;
    }

    .paragraphs {
      margin-left: 2%;
      margin-right: 2%;
    }

    .translation {
      background-color: #FFEEDF;
      min-height: 110vh;
    }

    #theWord {
      font-weight: bold;
      font-size: 170%;
    }

    .spancontainer {
      margin-right: 73%;
    }

    .words {
      margin-right:0.5em;
      display:inline-block;
      text-align:left;
      border-radius: 5px;
      cursor: pointer;
      background-color: #A0E7E5;
    }

    #note {
      display: none;
      margin-bottom: 10%;
      font-size: 120%;
    }

    #button {
      display: none;
    }

    #prev, #next, pagenum, numpage {
      margin-bottom: 10px;
    }

    #prev {
      margin-left: 15px;
    }

    #pagenum {
      margin-left: 380px;
    }

    #numpage {
      display: inline-block;
      margin-left: 10px;
    }

    #next {
      margin-left: 320px;
    }

    #inputdescription, #commentList {
      display: none;
    }

    #description{
      width: 25%;
      height:50px;
      font-size:12pt;
    }
    #submit{
      width: 25%;
      height:50px;
      font-size:12pt;
      background-color: #007bff;
      color:white
    }
    #viewcomment{
      border:4px double #007bff;
      width: 28%;
      height: 400px;
      line-height:3;
      overflow: scroll;
      padding:5px;
    }
    #comment{
      width: 120%;
      height: 120px;
      border: 3px solid black;
    }
    .voteContainer{
      position: absolute;
      display: inline-block;
      left: auto;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
    }
    .voteUp{
      width: 100%;
      height: 30%;
      background-color: lightgreen;
      line-height: 10px;
    }
    .voteDown{
      width: 100%;
      height: 30%;
      background-color: lightcoral;
      line-height: 10px;
    }
    .totalVote{
      width: 100%;
      height: 25%;
      font-size: medium;
    }

    .comment-description {
      position: absolute;
      display: inline-block;
      left: 20%;
      width: 80%;
      height: 120px;
      border: 2px solid black;
      line-height: 20px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
  <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="color: white" href="/"
        >Upload PDF</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white" href="/overview">Overview</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white" href="/game">Game</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white" href="/logout">Logout</a>
      </li>
      <li class="nav-item"></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div id="teks" class = "teks col-sm-8" th:if="${words}">
      <div class="paragraphs" th:each = "paragraph : ${words}">
        <p class="par">
          <span class="words" th:each = "word : ${paragraph}" th:text = "${word}"></span>
        </p>
        <br/>
      </div>
      <button id="prev" class="btn btn-primary">Previous Page</button><input type="number" id="pagenum" min="1" max="5"><h5 id="numpage">/ 200</h5><button id="next" class="btn btn-primary">Next Page</button>
    </div>

    <div class="translation col-lg-4 card flex-fill">
      <div class="table">
        <ul id="horizontal-list" style="">
          <li><p class="spancontainer"> <span id="theWord"></span> </p></li>
          <li><p class="spancontainer"> <span id="note"></span> </p></li>
          <li><br></li>
          <li><p class="spancontainer"> <span id="meaning"></span> </p></li>
          <div id="button">
            <li class="levelButton"><button id="button1" class="lb btn btn-primary">1</button></li>
            <li class="levelButton"><button id="button2" class="lb btn btn-primary">2</button></li>
            <li class="levelButton"><button id="button3" class="lb btn btn-primary">3</button></li>
            <li class="levelButton"><button id="button4" class="lb btn btn-primary">4</button></li>
            <li class="levelButton"><button id="button5" class="lb btn btn-primary">5</button></li>
          </div>
          <!--input comment-->
          <li><br></li>
          <div id="inputdescription">
            <li><p className="spancontainer">Input comment</p></li>
            <div className="inputBox">
              <input type="description" id="description" className="form-control" name="description" placeholder="Add comment">
            </div>
            <button type="submit" id="submit" className="btn btn-outline-primary btn-block">Comment</button>
          </div>
          <li><br></li>
          <!--view comment-->
          <div class="commentList" id="commentList">
            <li><p class="spancontainer">Comment list</p></li>
            <div class="row" id="viewcomment"></div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  let text = getPDFText();
  let teks = document.getElementById('teks');
  let pageCounter = 0;
  let prevButton = document.getElementById('prev');
  let pagenumcount = document.getElementById('pagenum');
  let numpagecount = document.getElementById('numpage');
  let nextButton = document.getElementById('next');
  let words = document.getElementsByClassName('words');
  let theWord = document.getElementById('theWord');
  let note = document.getElementById('note');
  let mean = document.getElementById('meaning');
  let button = document.getElementById('button')
  let levelButtons = document.getElementsByClassName("lb");
  let levelMap = getUserLevel();
  //add by Aldi
  let submitButton = document.getElementById('submit');
  let commentListByWord = [];
  let inputdescription = document.getElementById("inputdescription");
  let commentlist = document.getElementById("commentList");

  compilation();

  prevButton.onclick = function () {
    if (pageCounter - 1 !== -1) {
      pageCounter -= 1;
      pagenumcount.value = pageCounter;
      pageButtonClick()
    }
  }

  nextButton.onclick = function () {
    if (pageCounter + 1 !== text.length) {
      pageCounter += 1;
      pagenumcount.value = pageCounter;
      pageButtonClick()
    }
  }

  pagenumcount.addEventListener("keyup", ({key}) => {
    if (key === "Enter" && pagenumcount.value !== "") {
      pageCounter = pagenumcount.value - 1;
      pageButtonClick()
    }
  })

  function pageButtonClick() {
    let prev;
    let pagenum;
    let numpage;
    let next;

    while (teks.firstChild) {
      let last = teks.lastChild

      if (last.id === "prev") {
        prev = last
      } else if (last.id == "pagenum") {
        pagenum = last
      } else if(last.id == "numpage") {
        numpage = last
      } else if (last.id === "next") {
        next = last
      }

      teks.removeChild(last);
    }

    for (var i = 0; i < text[pageCounter].length; i++) {
      let paragraph = document.createElement('div');
      paragraph.className = "paragraphs"
      let p = document.createElement('p');
      p.className = "par"

      for (var j = 0; j < text[pageCounter][i].length; j++) {
        let span = document.createElement('span');
        span.className = "words"
        span.innerHTML = text[pageCounter][i][j];
        p.appendChild(span);
      }
      paragraph.appendChild(p)
      paragraph.appendChild(document.createElement("br"))
      teks.appendChild(paragraph)
    }

    teks.appendChild(prev)
    teks.append(pagenum)
    teks.append(numpage)
    teks.appendChild(next)
    teks.appendChild(document.createElement("br"))

    compilation();
  }

  function compilation() {
    for(var i = 0; i < words.length; i++){
      if (words[i].innerText !== '') {
        let word = words[i].innerText.replaceAll(/[^a-zA-Z]/g, "").toLowerCase()

        words[i].setAttribute("class", "words " + word + "W")
        changeColorOne(levelMap.get(word), words[i])

        words[i].onclick = function() {
          translateK(word)
          //add by aldi
          getCommentListByWord(word)
          viewCommentListByWord()
          voteUpBotton()
          voteDownBotton()
          inputdescription.style.display = "inline"
          commentlist.style.display = "inline"
        }
      }
    }

    for(var i = 0; i < levelButtons.length; i++){
      let level = levelButtons[i].textContent;
      levelButtons[i].onclick = function() {
        assignLevel(level)
      }
    }

    pagenumcount.setAttribute("max", text.length.toString())
    numpagecount.innerText = "/ " + text.length.toString()
  }

  function getPDFText() {
    var text

    var req = new XMLHttpRequest();
    req.open('GET', '/ReadingMode', false)
    req.onload = function() {
      text = JSON.parse(req.responseText);
    }
    req.send();
    return text
  }

  function getUserLevel() {
    var levelMap;

    var req = new XMLHttpRequest();
    req.open('GET', '/getUserLevel', false)
    req.onload = function() {
      levelMap = new Map(Object.entries(JSON.parse(req.responseText)));
    }
    req.send();
    return levelMap
  }

  function translateK(word){
    var req = new XMLHttpRequest();
    req.open('POST', '/translate')
    req.onload = function() {
      if (JSON.parse(req.responseText)[2] === null) {
        note.style.display = 'none';
      } else {
        note.innerText = JSON.parse(req.responseText)[2].slice(2)
        note.style.display = "inline"
      }
      theWord.innerText = JSON.parse(req.responseText)[0]
      mean.innerText = JSON.parse(req.responseText)[1]
      if (mean.innerText !== "Kata tidak dapat ditemukan di kamus" && mean.innerText !== "") {
        button.style.display = "inline";
      } else {
        button.style.display = "none";
      }
    }
    req.send(word)
  }

  function assignLevel(level) {
    let word = /^([^,])+/.exec(theWord.innerText.replaceAll("[^a-zA-Z]", "").toLowerCase())[0];
    let theWords = document.getElementsByClassName(word + "W");

    var req = new XMLHttpRequest();
    req.open('POST', '/assignLevel/' + level);
    req.onload = function () {
      changeColorAll(level, theWords)
      levelMap.set(word, level);
    }
    req.send(word);
  }

  function changeColorOne(level, daWord) {
    if (level !== undefined) {
      var color = coloring(level);

      daWord.style.backgroundColor = color;
    }
  }

  function changeColorAll(level, theWords) {
    var color = coloring(level);

    for(var i = 0; i < theWords.length; i++){
      theWords[i].style.backgroundColor = color;
    }
  }

  function coloring(level) {
    var color;

    if (level == 1) {
      color = "#FFAE42"
    } else if (level == 2) {
      color = "#FFC270"
    } else if (level == 3) {
      color = "#FFD59E"
    } else if (level == 4) {
      color = "#FFE9CC"
    } else if (level == 5) {
      color = "white"
    }
    return color
  }
  //add by Aldi
  submitButton.onclick = function(){
    inputComment()
  }

  function voteUpBotton(){
    "use strict";
    var buttons = document.getElementsByClassName('voteUp');
    for ( var i in Object.keys( buttons ) ) {
      buttons[i].onclick = function() {
        var id = this.parentElement.children[1].id
        var req = new XMLHttpRequest();
        req.open('POST', '/vote-up/' + id)
        req.onload = function() {
          var isi = document.getElementById(id).innerText
          document.getElementById(id).innerText = parseInt(isi) + 1;
        }
        req.send();

      };
    }
  }
  function voteDownBotton(){
    "use strict";
    var buttons = document.getElementsByClassName('voteDown');
    for ( var i in Object.keys( buttons ) ) {
      buttons[i].onclick = function() {
        var id = this.parentElement.children[1].id
        var req = new XMLHttpRequest();
        req.open('POST', '/vote-down/' + id)
        req.onload = function() {
          var isi = document.getElementById(id).innerText
          document.getElementById(id).innerText = parseInt(isi) -1;
        }
        req.send();

      };
    }
  }

  function inputComment(){
    let description = document.getElementById("description").value
    let word = /^([^,])+/.exec(theWord.innerText.replaceAll("[^a-zA-Z]", "").toLowerCase())[0];
    if (description !== '' && word !=='') {
      var req = new XMLHttpRequest();
      req.open('POST', '/input-comment/' + word)
      req.onload = function() {
        var htmlElements = "";
        htmlElements += '<div class="card text-center text-dark" id="comment">';
        htmlElements += '<div class="voteContainer">';
        htmlElements += '<button type="submit" class="voteUp" name ="voteUp" >^</button>';
        htmlElements += '<div class="totalVote id="new">0</div>';
        htmlElements += '<button type="submit" class="voteDown" name ="voteDown" >V</button>';
        htmlElements += '</div>';
        htmlElements += '<div class="comment-description">'+description+'</div>';
        htmlElements += '</div>';

        for (var i = 0; i < commentListByWord.length; i++) {
          var comment = commentListByWord[i];
          htmlElements += '<div class="card text-center text-dark" id="comment">';
          htmlElements += '<div class="voteContainer">';
          htmlElements += '<button type="submit" class="voteUp" name ="voteUp">^</button>';
          htmlElements += '<div class="totalVote"'+comment.idComment +'>'+comment.vote+'</div>';
          htmlElements += '<button type="submit" class="voteDown" name ="voteDown">V</button>';
          htmlElements += '</div>';
          htmlElements += '<div class="comment-description">'+comment.description+'</div>';
          htmlElements += '</div>';
        }
        voteUpBotton()
        voteDownBotton()
        var container = document.getElementById("viewcomment");
        container.innerHTML = htmlElements;
        getCommentListByWord(word)
      }
      req.send(description);
    }
  }

  function getCommentListByWord(word){
    var req = new XMLHttpRequest();
    req.open('GET', '/getCommentList/' + word, false)
    req.onload = function() {
      commentListByWord = JSON.parse(req.responseText);
    }
    req.send();
  }

  function viewCommentListByWord(){
    var htmlElements = "";
    for (var i = 0; i < commentListByWord.length; i++) {
      var comment = commentListByWord[i];
      htmlElements += '<div class="card text-center text-dark" id="comment">';
      htmlElements += '<div class="voteContainer">';
      htmlElements += '<button type="submit" class="voteUp" name ="voteUp">^</button>';
      htmlElements += '<div class="totalVote" id="'+comment.idComment +'">'+comment.vote+'</div>';
      htmlElements += '<button type="submit" class="voteDown" name ="voteDown">V</button>';
      htmlElements += '</div>';
      htmlElements += '<div class="comment-description">'+comment.description+'</div>';
      htmlElements += '</div>';
    }
    var container = document.getElementById("viewcomment");
    container.innerHTML = htmlElements;
  }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>
